.header {
  height: 58px;
  border-bottom: 1px solid #bbbbbb;
  display: flex;
  padding: 0 15px;
  position: relative;
  justify-content: space-between;
}
.nav {
  max-width: 915px;
  width: 100%;
}
.logo {
  max-height: 58px;
}
.left {
  float: left;
}
.left input {
  transition: all .5s;

}
.right {
  float: right;
}
.left,
.right {
  margin: 0 15px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wenzhang {
  height: 100%;
  min-width: 50px;
  line-height: 56px;
}
.active{
  width: 200px;
}