.header {
  height: 58px;
  border-bottom: 1px solid #bbbbbb;
  display: flex;
  padding: 0 15px;
  position: relative;
  justify-content: space-between;
}
.nav {
  max-width: 915px;
  width: 100%;
}
.logo {
  max-height: 58px;
}
.left {
  float: left;
}
.left input {
  transition: all .5s;

}
.right {
  float: right;
  position: relative;
}
.left,
.right {
  margin: 0 15px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wenzhang {
  height: 100%;
  min-width: 50px;
  line-height: 56px;
}
.active{
  width: 200px;
}
.list{
  position: absolute;
  top: 100%;
  width: 200px;
  padding: 15px;
  border: 1px solid #eee;
}
.list .listItem{
  padding: 0 5px;
  border: 1px solid #eee;
  font-size: 12px;
  margin: 5px;
  display: inline-block;
}
.flex{
  display: flex;
  justify-content: space-between;
}
.flex span{
  font: 12px;
}